
.button {
  padding: 10px 25px;
  font-weight: 600;
  color: var(--color-white);
  background-color: transparent;
  border: 3px solid var(--color-blue);
  border-radius: var(--border-radius-s);
  transition-duration: var(--transition-duration);


  @include hover {
    background-color: var(--color-blue);
    color: var(--color-black);
  }
}