.field {
  width: 100%;

  &__input {
    width: 100%;

    height: var(--input-height);
    background-color: var(--color-gray-250);
    color: var(--color-white);
    border: 2px solid var(--color-gray);
    padding: 10px;
    border-radius: var(--border-radius-s);

    &::placeholder {
      color: var(--color-gray);
    }

    &--textarea {
      height: 200px;
      resize: none;
    }
  }
}