@font-face {
  font-family: "Josefine Sans";
  src: url("../assets/fonts/JosefineSans.woff2") format("woff2-variations");
  font-weight: 100 900; /* підтримуваний діапазон ваги */
  font-stretch: 75% 125%; /* діапазон ширини */
  font-style: normal;
  font-display: swap;
}