@use './helpers/mixins' as *; // або @import '../helpers/mixins';
@use './helpers/media' as *;
html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-main), sans-serif;
  color: var(--color-white);
  background-color: var(--color-dark);
  margin-inline: auto;
}

h1,
.h1 {
  @include fluid-text(64, 32);

  font-weight: 600;
  line-height: 1.2;
}

h2,
.h2 {
  @include fluid-text(48, 24);

  font-weight: 600;
}

h3,
.h3 {
  @include fluid-text(38, 20);

  font-weight: 700;
}

h4,
.h4 {
  @include fluid-text(24, 18);

  font-weight: 400;
}

h5,
.h5 {
  @include fluid-text(22, 18);

  font-weight: 400;
}

h6,
.h6 {
  @include fluid-text(20, 16);

  font-weight: 400;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;

  @include hover {
    color: var(--color-accent);
  }
  &.is-active {
    border-bottom: 2px solid var(--color-dark);
    @include hover {
      border-bottom: 2px solid var(--color-accent);
    }
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}
