.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  max-width: var(--container-width);
  padding: 20px;
  margin-inline: auto;
  
  &__content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    height: 100%;
    width: 100%;
    max-width: 800px;

    @include mobile-s {
      display: flex;
      flex-direction: column;
    }
  }

  &__todo {
    grid-column: 1/-1;
    grid-row: 1/2;
    min-height: 400px;
  }

  &__notes {
    grid-column: 1/-1;
    grid-row: 3/4;
    min-height: 300px;
  }

  &__quotes {
    grid-column: 1/3;
    grid-row: 2/3;
    min-height: 400px;
  }

  &__timer {
    --titleColorDark: var(--color-blue);
    --titleColorLight: var(--color-blue-light);

    grid-column: 3/-1;
    grid-row: 2/3;
  }

  &__dialog {
    width: 90%;
    max-width: 300px;
    border: none;
    border-radius: var(--border-radius-s);
    background-color: var(--color-dark);
    padding: 16px;
    -webkit-box-shadow: 0 0 24px 16px var(--color-black);
    box-shadow: 0 0 24px 16px var(--color-black);

    &-title {
      margin-top: 10px;
      text-align: center;
      margin-bottom: 40px;
    }

    &-button {
      margin-inline: auto;
      width: 100px;
    }
  }

}