.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  max-width: var(--container-width);
  padding: 20px;
  margin-inline: auto;

  &__background {
    background-image:
      radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)),
      radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)),
      radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)),
      radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)),
      radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4)),
      radial-gradient(circle at var(--x-5) var(--y-5), var(--c-5) var(--s-start-5), transparent var(--s-end-5)),
      radial-gradient(circle at var(--x-6) var(--y-6), var(--c-6) var(--s-start-6), transparent var(--s-end-6)),
      radial-gradient(circle at var(--x-7) var(--y-7), var(--c-7) var(--s-start-7), transparent var(--s-end-7)),
      radial-gradient(circle at var(--x-8) var(--y-8), var(--c-8) var(--s-start-8), transparent var(--s-end-8)),
      radial-gradient(circle at var(--x-9) var(--y-9), var(--c-9) var(--s-start-9), transparent var(--s-end-9));
  }
  
  &__content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    height: 100%;
    width: 100%;
    max-width: 800px;

    @include mobile-s {
      display: flex;
      flex-direction: column;
    }
  }

  &__todo {
    grid-column: 1/-1;
    grid-row: 1/2;
    min-height: 400px;
  }

  &__notes {
    grid-column: 1/-1;
    grid-row: 3/4;
    min-height: 300px;
  }

  &__quotes {
    grid-column: 1/3;
    grid-row: 2/3;
    min-height: 400px;
  }

  &__timer {
    --titleColorDark: var(--color-blue);
    --titleColorLight: var(--color-blue-light);

    grid-column: 3/-1;
    grid-row: 2/3;
  }

  &__dialog {
    width: 90%;
    max-width: 300px;
    border: none;
    border-radius: var(--border-radius-s);
    background-color: var(--color-dark);
    padding: 16px;
    -webkit-box-shadow: 0 0 24px 16px var(--color-black);
    box-shadow: 0 0 24px 16px var(--color-black);

    &-title {
      margin-top: 10px;
      text-align: center;
      margin-bottom: 40px;
    }

    &-button {
      margin-inline: auto;
      width: 100px;
    }
  }

}