.quotes {
  --focusColor: var(--color-green);
  --titleColorDark: var(--color-green);
  --titleColorLight: var(--color-green-light);

  width: 100%;

  &__background {
    background-color: hsla(0, 0%, 0%, 0);
    background-image:
      radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)),
      radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)),
      radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)),
      radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)),
      radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4)),
      radial-gradient(circle at var(--x-5) var(--y-5), var(--c-5) var(--s-start-5), transparent var(--s-end-5)),
      radial-gradient(circle at var(--x-6) var(--y-6), var(--c-6) var(--s-start-6), transparent var(--s-end-6)),
      radial-gradient(circle at var(--x-7) var(--y-7), var(--c-7) var(--s-start-7), transparent var(--s-end-7)),
      radial-gradient(circle at var(--x-8) var(--y-8), var(--c-8) var(--s-start-8), transparent var(--s-end-8)),
      radial-gradient(circle at var(--x-9) var(--y-9), var(--c-9) var(--s-start-9), transparent var(--s-end-9));
  }

  &__inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  &__cite {
    font-size: fluid(24, 18);
    font-style: italic;
    align-self: start;
    max-width: 600px;
    color: var(--color-gray);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__philosophy {
    text-align: justify;
    hyphens: auto;
    padding: 15px;
    background-color: oklch(0.62 0 89.876 / 0.25);
    box-shadow: 12px 16px 5px 0 var(--color-black);
    border-radius: var(--border-radius-s);
    border-bottom: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    border-top: 2px solid var(--color-gray);
    border-left: 2px solid var(--color-gray);
  }
}