.tile {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: space-between;
  row-gap: 32px;
  width: 100%;
  padding: 16px 32px;
  background-color: oklch(0.62 0 89.876 / 0.25);
  box-shadow: 12px 16px 5px 0 var(--color-black);
  border-radius: var(--border-radius-s);
  border-bottom: 2px solid var(--color-black);
  border-right: 2px solid var(--color-black);
  border-top: 2px solid var(--color-gray);
  border-left: 2px solid var(--color-gray);

  @include mobile {
    padding: 16px;
  }

  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    p {
      margin-inline: auto;
    }

  }

  &__list {
    align-self: start;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include mobile {
      row-gap: 12px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
    width: 100%;
    background-color:var(--color-dark);
    padding: 16px;
    border-radius: var(--border-radius-s);

  }

  &__item-inner {
    display: flex;
    column-gap: 16px;
  }

  &__item-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
  }

  &__link--todo {
    color: var(--color-violet-light);

    @include hover{
      color: var(--color-violet-light);
      scale: 1.3;
    }
  }

  &__cite {
    height: 100%;
    padding: 16px;
    border-radius: var(--border-radius-s);
    color: var(--color-white);
  }

  &__link--quote {
    color: var(--color-green-light)!important;

    @include hover{
      color: var(--color-green-light)!important;
      scale: 1.3;
    }
  }

  &__link--notes {
    color: var(--color-yellow-light)!important;

    @include hover{
      color: var(--color-yellow-light)!important;
      scale: 1.3;
    }
  }
}