.todo {
  --focusColor: var(--color-violet);
  --titleColorDark: var(--color-violet);
  --titleColorLight: var(--color-violet-light) ;
  position: relative;

  &__background {
    background-color: hsla(220, 41%, 10%, 0);
    background-image:
      radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)),
      radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)),
      radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)),
      radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)),
      radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
  }

  &__inner {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__title {
    color: var(--color-violet-light);
  }

  &__form {
    margin-top: 40px;
    display: flex;
    justify-content: stretch;
    column-gap: 10px;
    width: 100%;
    max-width: 600px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__button {
    --buttonColor: var(--color-violet-light) !important;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__delete-all-button {
    background-color: transparent;
    border: none;
    font-weight: 600;
    color: var(--color-violet-light);
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}