
.todo-item {
--todoItemPadding: 15px;

  display: flex;
  column-gap: 16px;
  position: relative;
  background-color: var(--color-gray-250);
  border-radius: var(--border-radius-s);
  padding: var(--todoItemPadding);
  box-shadow: 8px 8px 5px 0 var(--color-black);
  border-bottom: 2px solid var(--color-black);
  border-right: 2px solid var(--color-black);
  border-top: 2px solid var(--color-gray);
  border-left: 2px solid var(--color-gray);

  > svg {
    position: absolute;
    top: calc(var(--todoItemPadding) - 5px);
    left: calc(var(--todoItemPadding) + 3px);
    width: 22px;
    height: 22px;
    color: var(--color-violet);
    scale: 0;
    z-index: 0;
    transition-duration: var(--transition-duration);
  }

  &__checkbox {
    flex-shrink: 0;
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0;
    z-index: 1;
    border: 2px solid var(--color-gray);
    border-radius: 50%;

    &:checked {
      border-color: var(--color-violet);

      ~ svg {
        scale: 1.2;
      }

      ~label {
        color: var(--color-gray);
        text-decoration: line-through;
      }
    }
  }

  &__label {
    width: 100%;
    align-self: center;
  }

  &__delete-button {
    @include square(25px);

    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--color-red);

    svg {
      width: 100%;
      height: 100%;
    }

    @include hover {
      scale: 1.25;
    }

    * {
      pointer-events: none;
    }
  }
}