@use './helpers/mixins' as *; // або @import '../helpers/mixins';
@use './helpers/media' as *;

.todo-item {
  display: flex;
  align-items: center;
  column-gap: 16px;
  border-bottom: 2px solid var(--color-blue);
  padding-bottom: 5px;
  position: relative;

  > svg {
    position: absolute;
    top: 35%;
    translate: 0 -50%;
    left: 5px;
    width: 22px;
    height: 22px;
    color: var(--color-green);
    scale: 0;
    z-index: -1;
    transition-duration: var(--transition-duration);
  }

  &__checkbox {
    flex-shrink: 0;
    appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 2px solid var(--color-gray);
    border-radius: 50%;

    &:checked {
      border-color: var(--color-green);

      ~ svg {
        scale: 1.4;
      }

      ~label {
        color: var(--color-gray);
        text-decoration: line-through;
      }
    }
  }

  &__label {
    width: 100%;
  }

  &__delete-button {
    @include square(40px);

    padding: 5px;
    border: none;
    background-color: transparent;
    color: var(--color-red);

    svg {
      width: 100%;
      height: 100%;
    }

    @include hover {
      scale: 1.25;
    }

    * {
      pointer-events: none;
    }
  }
}