@use './helpers/mixins' as *; // або @import '../helpers/mixins';
@use './helpers/media' as *;

.container {
  width: 100%;
  max-width: calc(var(--desktop-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding: var(--container-padding-y) var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}
