:root {
  --font-family-main: "Josefine Sans" ;

  --color-violet-light: oklch(0.805 0.089 299.191);
  --color-red: oklch(0.682 0.206 24.431);
  --color-violet: oklch(0.574 0.224 296.125);
  --color-green:oklch(0.8135 0.224 158.4);
  --color-green-light: oklch(0.925 0.091 163.148);
  --color-yellow: oklch(0.8135 0.1648 82.16);
  --color-yellow-light: oklch(0.905 0.094 84.109);

  --color-black: oklch(0 0 0);
  --color-dark: oklch(0.248 0 89.876);
  --color-white: oklch(1 0 89.876);
  --color-gray: oklch(0.514 0 89.876);
  --color-gray-250: oklch(0.62 0 89.876 / 0.25);
  --focusColor: var(--color-white);

  --container-width: 1280px;
  --desktop-width: 1440px;

  --container-padding-x:15px;
  --container-padding-y:60px;

  --input-height: 48px;
  --button-height: 48px;

  --transition-duration: 0.2s;

  --border-radius-s: 5px;
}